name: test

on:
  - push
  - pull_request

jobs:
  test:
    strategy:
      matrix:
        ghc: ['9.8.4', '9.10.2', '9.12.2']

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: haskell-actions/setup@v2
        id: setup-haskell
        with:
          ghc-version: ${{ matrix.ghc }}
      - run: cp cabal.project.${{ matrix.ghc }}.freeze cabal.project.freeze
      - uses: actions/cache/restore@v3
        id: restore-cache
        with:
          path: |
            ${{ steps.setup-haskell.outputs.cabal-store }}
            ./dist-newstyle
          key: cabal-${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('./cabal.project.freeze') }}
          restore-keys: cabal-${{ runner.os }}-${{ matrix.ghc }}-
      - run: make build-deps
      - uses: actions/cache/save@v3
        if: steps.restore-cache.outputs.cache-hit != 'true'
        with:
          path: |
            ${{ steps.setup-haskell.outputs.cabal-store }}
            ./dist-newstyle
          key: cabal-${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('./cabal.project.freeze') }}
      - run: make build
      - run: make test-example-bool
      - run: make test-example-list
      - run: make test-example-nonstrargs
      - run: make test-example-simple
      - run: make test-example-subcmd
      - run: make test-example-verbose
